<div class="row  mb-5 ml-5 mr-5 "> 
</div>
<div class="form-group">
   <div class="container">
      <div class="row">
         <div class="col-sm-4"></div>          
         <div class="col-sm-4">
         <div class="form_container ">
        <form [formGroup]="mainGrp" (ngSubmit)="onClickSubmit()" >
       <header>Welcome To Login</header>
       <label>Username </label>
       <input type="text" #username name="username"  formControlName="username"  (input)="onFocus()"
       autocomplete="off" > 
       <div class="erromsg" *ngIf="showmsg">Username is required</div>   
       <label>Password </label>
       <input  [type]="shwhd" minlength="1" maxlength="20" #passwrd name="passwrd" formControlName="passwrd" (input)="onFocus()" autocomplete="off"
       class="classaccount">
       <input type="checkbox" class="showpswrd" (click)="pswrdhideshow($event)">              
    
       <div class="erromsg1" *ngIf="showmsg1">Password is required</div> 
       <button  type="submit" value="Login" >Login</button>
    </form>
 </div>
</div>
<div class="col-sm-4"></div>
</div>
</div>
</div>

 



 