<!-- <div class="container" style="margin-top: 7%;">
  <div class="card-columns d-flex justify-content-center">
    <div class="card">
      <div class="card-body frstcard">       
       New Transaction 
      </div>
      <button class="btn btn-primary" style="margin-left: 45%;margin-bottom: 5%;
      " (click)="onTest1()">Click</button>
    </div>   
    <div class="card">
      <div class="card-body frstcard">
        Submited Transaction
      </div>
      <button class="btn btn-primary    " style="margin-left: 45%;margin-bottom: 5%;" (click)="onTest2()">Click</button>

    </div>
  </div>
</div> -->



<div class="header">
  <h1>Transaction Form</h1>  
  <div class="header-left">
    <h3 class="class-backval" (click)="onClickBack()">Back</h3>    
  </div> 
  <div class="header-right">
    <h3 class="class-logoutval" (click)="onClickval()">Logout</h3>    
  </div>
</div>
 
<div class="row  mb-5">  
</div>
<div class="form-group">
  <div class="container">
    <div class="row">    
        <div class="container">
          <div class="card-columns d-flex justify-content-center">         
          <div class="card class-cardform" >
            <div class="card-header class-new"> + </div>
            <div class="card-body class-new">NEW TRANSACTION</div>
            <button class="btn  class-btnclr ml-5 mr-5 pl-5 pr-5" 
       (click)="btnNewClick()">Click</button>
          </div>
          <div class="card class-cardform" >
            <div class="card-header class-new"> + </div>
            <div class="card-body class-new">SUBMITTED TRANSACTION</div>
            <button class="btn  class-btnclr ml-5 mr-5 pl-5 pr-5 " 
       (click)="btnSubmitedClick()">Click</button>
          </div>
        </div>
      </div>   
      </div>
  </div>
</div>